.slicknav_nav li.menumain {
  float: none;
}

.slicknav_menu {
  display: none;
}

.slicknav_nav .slicknav_arrow {
  font-family: "FontAwesome";
}

@media screen and (max-width: 50em) {
  .menumain:not(#crm-qsearch) {
    display: none;
  }
  #civicrm-menu {
    height: auto;
    width: 100% !important;
  }
	.slicknav_menu {
		display:block;
	}
  #civicrm-menu #crm-qsearch input {
    height: 1.9em;
    margin-top: .65em;
    margin-left: .5em;
    width: 12em !important;
    border-radius: 2px;
    padding-left: .5em;
    background-position: right -22px;
  }
  #root-menu-div div.outerbox {
    margin-top: 18px !important;
  }
  #civicrm-menu li a {
    display: inline-block;
  }
}
