
/*hiding first two items of slicknavmenu because we will use og menu*/
li.slicknav_collapsed.slicknav_parent:nth-child(1),
li.slicknav_collapsed.slicknav_parent:nth-child(2) {
  display: none;
}

.slicknav_nav li.menumain {
  float: none;
}

.slicknav_menu {
  display: none;
  background-color: black;
}

@media screen and (max-width: 40em) {
  .menumain:not(#crm-qsearch) {
    display: none;
  }
  #civicrm-menu {
    height: auto;
    width: 100% !important;
  }
	.slicknav_menu {
		display:block;
	}
  #civicrm-menu #crm-qsearch input {
    height: 2em;
    margin-top: .5em;
    width: 12em !important;
    border-radius: 2px;
  }
  #root-menu-div div.outerbox {
    margin-top: 18px !important;
  }
}
